
.img-holder {  
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden; 
    margin: 0 auto;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}